body{
  display: flex;
  justify-content: center;
  align-items: center;
}

#siatka{
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 5px;
}

.square{
  display: flex;
  width: 100px;
  height: 100px;
  background-color: red;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  -webkit-user-select: none;
}